.card-alert {
    margin: 0;
    position:relative;
    background: #F0F0F0;
    border-left: 12px solid #EA9F2A;
    color: black;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    padding: 11px 19px 14px 20px;
    cursor: pointer;
}

 .card-alert-top {
    display: flex;
    padding-bottom: 8px;
}

.card-alert-tittle{
    margin-top: 1px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-alert-nivel{
    position: absolute;
    top: 12px;
    right: 19px;
    height: 20px;
    background: #EA9F2A;
    border-radius: 4px;
}

.nivel-text {
    display: flex;
    margin: 4px 8px;
    color: #F0F0F0;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-alert-bottom {
    display: flex;
    justify-content: space-between;
}


.cards-alert-info {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    margin: 0;
    padding-bottom: 8px;
    gap: 9px;
    
}

.card-alert-info {
    display: inline-flex;
    background: #d9d9d9;
    border-radius: 4px;
    padding: 6px;
}

.card-alert-icon {
    width: 15px;
    height: 15px;
}

.card-alert-text { 
    margin-left: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.card-alert-tempo {
    display: flex;
    float: right;
    right: 0;
    flex-direction: column;
    
    /* align-items: center; */
}