.dropdown {
    position: relative;
    padding-top: 3px;
    padding-left: 8px;
  }

/* .dropbnt {
    display: flex;
} */
  
  .dropdown-btn {
    width: 140px;
    height: 27px;
    display: flex;
    background-color: #FFFDFD;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: space-between;
    padding: 5px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  /* .dropdown-icon {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 15px;
    height: 15px;
  } */
  
  /* .dropdown-option {
    position: absolute;
    width: 85%;
    top: 110%;
    left: 0;
    padding: 10px;
    background-color: #f9f9f9;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 1; /*
  
  .dropdown-content .item {
    cursor: pointer;
    padding: 10px;
    transition: all 0.2s;
  }
  
  .dropdown-content .item:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* .dropdown:hover .dropdown-btn {
    background-color: #3e8e41;
  } */